*,
html,
body {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Poppins";
  box-sizing: border-box;
}
a {
  color: rgb(72, 23, 119);
  text-decoration: none;
}
.light-mode {
  display: flex;
  background-image: url(resource/pexels-veeterzy-114979.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgb(210, 182, 236);
}
.dark-mode {
  display: flex;
  background-image: url(resource/dark-mode_6714978.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: rgb(210, 182, 236);
}

i {
  color: rgb(72, 23, 119);
}

/* home */
.home-container {
  padding-top: 0;
  width: 500px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.267);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5.9px);
  border: 2px solid rgba(255, 255, 255, 0.25);
  background: rgba(255, 255, 255, 0.089);
  transition: all 0.5s ease;
}
.home-container:hover {
  width: 550px;
  height: 330px;
  border: 1px white solid;
  box-shadow: 0 4px 30px rgba(255, 255, 255, 0.267);
}

/* toggle */
.toggle {
  position: fixed;
}
/* calendar */
.calendar {
  width: 40%;
  height: 40%;
  border: 2px solid black;
}
