*,
html,
body {
  margin: 3px;
  padding: 0;
  border: none;
  font-family: "Poppins";
  box-sizing: border-box;
}
.sidebar a {
  color: rgb(72, 23, 119);
  text-decoration: none;
}
body {
  display: flex;
  background-color: rgb(210, 182, 236);
}
i {
  color: rgb(72, 23, 119);
}

/* form */
.addtask-container {
  margin: auto;
  justify-content: center;
  align-items: center;
}
.addtask {
  width: 20em;
  margin-top: 2em;
}
input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  cursor: pointer;
}
textarea {
  width: 100%;
  height: auto;
  padding: 5px;
  margin: 10px 0;
}
.add-btn {
  padding: 1em;
  border-radius: 25px;
  cursor: pointer;
}
.display-box {
  height: auto;
  list-style-type: none;
}
.container-task {
  display: flex;
  background-color: rgb(186, 145, 224);
  border-radius: 10px;
}
.check {
  margin-left: 6px;
  width: 1.5em;
  border-radius: 50px;
  cursor: pointer;
}
.title-task {
  font-weight: 500;
}
.title-date {
  width: 10em;
}
.deadline {
  font-weight: 500;
  font-size: smaller;
}
.delete-btn {
  margin: auto 5px;
  margin-left: 5em;
  padding: 5px;
  border-radius: 20px;
  width: 5em;
  height: 3em;
  cursor: pointer;
}
